<footer class="flex items-center justify-center flex-col py-4">
  <div class="flex justify-center items-center flex-row gap-5">
    <img src="/bajocero.png" alt="Logo" class="w-20">


    <ul class="flex flex-row gap-3">
      <li class="">
        <a class="" href="#" aria-label="Instagram"><i class="bi bi-instagram" style="font-size: 1.5rem;"></i></a>
      </li>
      <li class="">
        <a class="" href="#" aria-label="Facebook"><i class="bi bi-facebook" style="font-size: 1.5rem;"></i></a>
      </li>
    </ul>

  </div>
    <p class="text-center text-sm">© 2025 Bajo Cero</p>
    
</footer>