<section class="font-[montserrat] bg-white">
    <div
        class="h-[30vh] bg-gradient-to-r from-sky-600 to-teal-400 flex justify-center items-end px-6 sm:px-12 lg:px-24 2xl:px-40">
        <h1 class="font-extrabold text-center text-3xl sm:text-4xl text-white py-6 animate__animated lazyCard">
            Conocenos
        </h1>
    </div>

    <div class="px-6 sm:px-12 md:px-16 lg:px-32 xl:px-40 2xl:px-64 py-4 sm:py-8 lg:py-12 overflow-hidden">
        <div class="flex gap-8 flex-col md:flex-row py-6">
            <div class="flex-1">
                <h2 class="font-bold text-zinc-900 text-xl md:text-2xl my-2 p-2 ">
                    Técnico de confianza en tu zona, tu aliado en electricidad y refrigeración
                </h2>
                <div class="h-1 w-20 bg-teal-300 my-1 block"></div>
            </div>
            <p class="text-base md:text-lg flex-1 text-pretty">
                Somos una empresa de Paraná dedicada a la instalación, mantenimiento y reparación de equipos
                frigoríficos y sistemas eléctricos. Brindamos soluciones tanto para hogares como comercios e industrias.
            </p>
            <p class="text-base md:text-lg flex-1 text-pretty">
                Sabemos lo que significa quedarse sin heladera un domingo o que el aire no funcione en plena ola de calor. Por eso respondemos rápido, trabajamos prolijo y buscamos que cada cliente se quede tranquilo.
            </p>
        </div>
    </div>

    <div
        class="px-6 sm:px-12 md:px-16 lg:px-32 xl:px-40 2xl:px-64 py-6 mb-5 sm:mb-8 lg:mb-12 text-center opacity-0 animate__animated lazyCard bg-zinc-100">
        <h3 class="text-sky-600 text-lg md:text-xl py-4 font-semibold">
            Nuestros valores
        </h3>

        <div class="flex gap-6 md:gap-10 flex-col sm:flex-row">
            <div class="bg-white shadow-md p-6 rounded-xl flex-1
            hover:scale-[1.02] hover:shadow-lg transition-transform duration-300">
                <p class="font-semibold text-base md:text-lg">Garantía</p>
                <p class="text-sm md:text-base">Ofrecemos respaldo en todos nuestros trabajos con garantía de 3 y 6 meses.</p>
            </div>

            <div class="bg-white shadow-md p-6 rounded-xl flex-1
            hover:scale-[1.02] hover:shadow-lg transition-transform duration-300">
                <p class="font-semibold text-base md:text-lg">Honestidad</p>
                <p class="text-sm md:text-base">Trabajamos con total transparencia en cada diagnóstico y presupuesto.
                </p>
            </div>

            <div class="bg-white shadow-md p-6 rounded-xl flex-1
            hover:scale-[1.02] hover:shadow-lg transition-transform duration-300">
                <p class="font-semibold text-base md:text-lg">Cercanía</p>
                <p class="text-sm md:text-base">Escuchamos a cada cliente y buscamos soluciones claras sin tecnicismos
                    innecesarios.</p>
            </div>
        </div>
    </div>


    <div class="flex flex-col md:flex-row gap-6 px-6 sm:px-12 md:px-16 lg:px-32 xl:px-40 2xl:px-64">

        <!-- Bloque de texto -->
        <div class="md:w-1/6 flex flex-col items-center md:items-start text-center md:text-left justify-center gap-4">
            <h3 class="text-2xl font-bold mb-4">¡Seguinos en las redes!</h3>

            <!-- Iconos: columna en mobile, fila desde md -->
            <div class="flex flex-row gap-4">
                <a href="https://www.instagram.com/bajocero.ref" target="_blank"
                    class="w-12 h-12 rounded-full bg-gradient-to-tr from-pink-500 to-yellow-500 text-white flex items-center justify-center shadow-md hover:scale-105 transition">
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M7.75 2C4.65 2 2 4.65 2 7.75v8.5C2 19.35 4.65 22 7.75 22h8.5C19.35 22 22 19.35 22 16.25v-8.5C22 4.65 19.35 2 16.25 2h-8.5zM12 7a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm6-1.25a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0z" />
                    </svg>
                </a>

                <a href="https://www.facebook.com/profile.php?id=100077401196183" target="_blank"
                    class="w-12 h-12 rounded-full bg-blue-600 text-white flex items-center justify-center shadow-md hover:scale-105 transition">
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 5 3.66 9.13 8.44 9.88v-6.99H7.9v-2.89h2.54V9.41c0-2.5 1.5-3.89 3.8-3.89 1.1 0 2.24.2 2.24.2v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.87h2.77l-.44 2.89h-2.33v6.99C18.34 21.13 22 17 22 12z" />
                    </svg>
                </a>
            </div>
        </div>




        <!-- Carrusel -->
            <app-carrousel></app-carrousel>
    </div>
</section>
