<section class="font-[montserrat]">
    <div
        class="h-[30vh] bg-gradient-to-r from-sky-600 to-teal-400 flex justify-center items-end px-6 sm:px-12 lg:px-24 2xl:px-40">
        <h1 class="font-extrabold text-center text-3xl sm:text-4xl text-white py-6 animate__animated lazyCard">
            Conocenos
        </h1>
    </div>

    <div class="px-6 sm:px-12 md:px-16 lg:px-32 xl:px-40 2xl:px-64 py-4 sm:py-8 lg:py-12 overflow-hidden">
        <div class="flex gap-8 flex-col md:flex-row py-6">
            <div class="flex-1">
                <h2 class="font-bold text-zinc-900 text-xl md:text-2xl my-2 ">
                    "Lorem ipsum dolor, sit amet consectetur adipisicing elit."
                </h2>
                <div class="h-1 w-20 bg-teal-300 my-1 block"></div>
            </div>
            <p class="text-base md:text-lg flex-1 text-pretty">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus illum velit accusantium minima tempore
                impedit, cumque quis explicabo tempora vitae, necessitatibus repudiandae unde, rerum error aspernatur
                commodi ex odit modi!
            </p>
            <p class="text-base md:text-lg flex-1 text-pretty">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus illum velit accusantium minima tempore
                impedit, cumque quis explicabo tempora vitae, necessitatibus repudiandae unde, rerum error aspernatur
                commodi ex odit modi!
            </p>
        </div>

        <div class="py-6 text-center opacity-0 animate__animated lazyCard">
            <h3 class="text-sky-600 text-lg md:text-xl py-4 font-semibold">
                Nuestros valores
            </h3>

            <div class="flex gap-6 md:gap-10 flex-col sm:flex-row">
                <div class="bg-zinc-100 shadow-md p-6 rounded-xl flex-1
            hover:scale-[1.02] hover:shadow-lg transition-transform duration-300">
                    <p class="font-semibold text-base md:text-lg">Lorem ipsum dolor</p>
                    <p class="text-sm md:text-base">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="bg-zinc-100 shadow-md p-6 rounded-xl flex-1
            hover:scale-[1.02] hover:shadow-lg transition-transform duration-300">
                    <p class="font-semibold text-base md:text-lg">Lorem ipsum dolor</p>
                    <p class="text-sm md:text-base">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="bg-zinc-100 shadow-md p-6 rounded-xl flex-1
            hover:scale-[1.02] hover:shadow-lg transition-transform duration-300">
                    <p class="font-semibold text-base md:text-lg">Lorem ipsum dolor</p>
                    <p class="text-sm md:text-base">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>

</section>