<section class="bg-white h-[70vh] relative z-0 overflow-hidden">
  <!-- Imagen de fondo -->
  <img
    src="/foto-hero-comprimida.jpg"
    alt="Fondo hero"
    loading="lazy"
    class="absolute inset-0 w-full h-full object-cover object-[50%_20%] z-0"
  />

  <!-- Gradiente superpuesto -->
  <div class="absolute inset-0 bg-gradient-to-t from-sky-500/50 to-transparent mix-blend-multiply z-10"></div>

  <!-- Contenido -->
  <div class="relative h-full w-full flex flex-col items-center justify-center z-20 p-4 text-white
    sm:px-10 md:px-24 
    lg:px-0 lg:grid lg:grid-cols-4 lg:items-center lg:justify-center
  ">
    <div class="lg:col-span-2 lg:col-start-2">
      <h1 class="font-extrabold text-center text-2xl text-shadow-lg/30 py-2 xl:py-4
        sm:text-4xl xl:text-5xl text-pretty
      ">Más de 5 años al servicio de hogares, negocios y&nbsp;obras</h1>

      <p class="text-center text-shadow-lg/30
        text-lg lg:text-xl xl:text-3xl text-pretty
      ">Nos dedicamos a la reparación, instalación y mantenimiento de equipos frigoríficos y&nbsp;eléctricos.</p>
    </div>
  </div>
</section>
