
<section class="bg-white h-[70vh]">
  <div class="relative h-full flex items-center justify-center bg-fixed bg-[url('/foto-hero.jpg')] bg-[50%_20%] bg-no-repeat bg-cover overflow-hidden">
    

    <div class="animate__animated animate__fadeInUp  absolute inset-0 bg-gradient-to-t from-sky-800/70 to-transparent mix-blend-multiply z-0"></div>


    <div class="relative h-full w-full flex flex-col items-center justify-center z-10 p-4 text-white
    sm:px-10 md:px-24 
    lg:px-0 lg:grid lg:grid-cols-4 lg:items-center lg:justify-center
    ">

    <div class="lazyHero lg:col-span-2 lg:col-start-2 animate__animated ">
      <h1 class=" font-[Montserrat] font-extrabold text-center text-2xl text-shadow-lg/30 py-2 xl:py-4
      sm:text-4xl xl:text-5xl text-pretty
      ">Más de 5 años al servicio de hogares, negocios y&nbsp;obras</h1>

        <p class="text-center font-[Montserrat] text-shadow-lg/30
        text-lg lg:text-xl xl:text-3xl text-pretty
        ">Nos dedicamos a la reparación, instalación y mantenimiento de equipos frigoríficos y&nbsp;eléctricos.</p>
      </div>
    </div>

  </div>
</section>

<!-- <section class="flex items-center justify-center h-96
bg-fixed bg-[url('/foto-hero.jpg')] bg-cover">
  <h1 class="text-5xl text-white uppercase"> holaaaa lol uwu</h1>
</section> -->


<app-servicios-refrigeracion></app-servicios-refrigeracion>
<app-electricidad></app-electricidad>