<div class="container col-xxl-8 px-4 pb-0 pt-1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 ">
      <div class="col-10 col-sm-8 col-lg-6 ">
        <img src="/foto-hero.jpg" class="d-block mx-lg-auto shadow-lg overflow-hidden rounded" alt="Bootstrap Themes" loading="lazy" style="height: 400px; width: 100%; object-fit: cover;" >
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Más de 5 años al servicio de hogares, negocios y&nbsp;obras</h1>
        <p class="lead">Nos dedicamos a proveer servicios de reparación, instalación y mantenimiento de equipos frigoríficos y&nbsp;eléctricos.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Quiero un turno</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Contacto</button>
        </div>
      </div>
    </div>
  </div> 

<app-servicios-refrigeracion></app-servicios-refrigeracion>