<!-- <section class="">
    <div class="">
    
      <div class="">
        <img src="/foto-hero.jpg" class=" w-full h-full 
        md:max-h-[70vh]
        lg:max-h-[80vh]
        object-cover  
        md:object-center object-[75%_25%] 
        lg:object-[85%_15%]
        mask-b-from-60% mask-b-to-90%
        md:mask-l-from-60% md:mask-l-to-90% md:mask-b-from-100%
        "  loading="lazy">
      </div>
      
      <div class="py-5 px-6 flex flex-col justify-center md:w-1/2 md:px-12  overflow-hidden lg:pl-32 md:p-10 md:order-first">
        <h1 class="py-2 text-xl md:text-2xl/9 lg:text-3xl/9 md:py-4 font-[montserrat] font-extrabold text-center md:text-start text-zinc-900">Más de 5 años al servicio de hogares, negocios y&nbsp;obras</h1>

        <p class="text-center font-[montserrat] font-medium md:text-start text-zinc-800
         text-xs md:text-sm lg:text-base
        ">Nos dedicamos a proveer servicios de reparación, instalación y mantenimiento de equipos frigoríficos y&nbsp;eléctricos.</p>
        <div class="py-3 flex justify-center md:justify-start">
          <button type="button" class="text-white 
          bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 
          
          hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg 
          
          text-sm px-5 py-2.5 text-center me-2 mb-2 cursor-pointer transition-all duration-300">Quiero un turno</button>
        </div>
      </div>
 </div>
</section>  -->

<section class="bg-white h-[70vh]">
  <div class="relative h-full flex items-center justify-center bg-fixed bg-[url('/foto-hero.jpg')] bg-[50%_20%] bg-no-repeat bg-cover overflow-hidden">
    

    <div class="absolute inset-0 bg-gradient-to-t from-sky-800/70 to-transparent mix-blend-multiply z-0"></div>


    <div class="relative h-full w-full flex flex-col items-center justify-center z-10 p-4 text-white
    sm:px-10 md:px-24 
    lg:px-0 lg:grid lg:grid-cols-4 lg:items-center lg:justify-center
    ">

    <div class="lg:col-span-2 lg:col-start-2">
      <h1 class="font-[montserrat] font-extrabold text-center text-2xl text-shadow-lg/30 py-2 xl:py-4
      sm:text-4xl xl:text-5xl text-pretty
      ">Más de 5 años al servicio de hogares, negocios y&nbsp;obras</h1>

        <p class="text-center font-[montserrat] text-xs text-shadow-lg/30
        sm:text-lg lg:text-xl xl:text-3xl text-pretty
        ">Nos dedicamos a la reparación, instalación y mantenimiento de equipos frigoríficos y&nbsp;eléctricos.</p>
      </div>
    </div>

  </div>
</section>

<!-- <section class="flex items-center justify-center h-96
bg-fixed bg-[url('/foto-hero.jpg')] bg-cover">
  <h1 class="text-5xl text-white uppercase"> holaaaa lol uwu</h1>
</section> -->


<app-servicios-refrigeracion></app-servicios-refrigeracion>