<nav class="shadow-md z-10 relative bg-white md:flex md:py-2 md:px-8 md:items-center md:justify-between">

  <div class="flex justify-between px-5 py-1 md:py-0 items-center">
    <a>
      <img src="/bajocero.png" class="h-14" alt="Logo" />
    </a>

    <button
      id="menu-btn"
      class="md:hidden text-2xl p-4 text-blue-600 hover:cursor-pointer hover:text-gray-950"
      (click)="activarHidden()"
    >
      ☰
    </button>
  </div>


  <ul
    id="menu"
    class="hidden flex-col font-[montserrat] justify-center md:mt-0 md:flex md:flex-row"
  >


    <li class="p-4 flex justify-center cursor-pointer
            bg-gray-100 
            hover:bg-gray-200
            md:bg-white 
            md:hover:bg-white
            transition-colors duration-300
            hover:text-blue-600">
      <a [routerLink]="'/servicios'" class="">Servicios</a>
    </li>
    <li class="p-4 flex justify-center cursor-pointer
            bg-gray-100 
            hover:bg-gray-200
            md:bg-white 
            md:hover:bg-white
            transition-colors duration-300
            hover:text-blue-600">
      <a [routerLink]="'/servicios'" class="">Contacto</a>
    </li>
  </ul>
</nav>
