<div class="swiper mySwiper w-full mb-6">
  <div class="swiper-wrapper">
    <!-- Imagen 1 -->
    <div class="swiper-slide w-80">
      <div class="overflow-hidden rounded-lg shadow-md">
        <img src="/post1.png" class="object-cover" />
      </div>
    </div>

    <!-- Video 1 -->
    <div class="swiper-slide w-80">
      <div class="overflow-hidden rounded-lg shadow-md">
        <video src="/video1.mp4" class="object-cover" preload="none" poster="/miniatura-video1.jpg" controls></video>
      </div>
    </div>

    <!-- Imagen 2 -->
    <div class="swiper-slide w-80">
      <div class="overflow-hidden rounded-lg shadow-md">
        <img src="/post2.png" class=" object-cover" />
      </div>
    </div>

    <!-- Video 2 -->
    <div class="swiper-slide w-80">
      <div class="overflow-hidden rounded-lg shadow-md">
        <video src="/video2.mp4" class=" object-cover" preload="none" poster="/miniatura-video2.jpg" controls></video>
      </div>
    </div>

    <!-- Imagen 3 -->
    <div class="swiper-slide w-80">
      <div class="overflow-hidden rounded-lg shadow-md">
        <img src="/post3.png" class=" object-cover" />
      </div>
    </div>

    <!-- Video 3 -->
    <div class="swiper-slide w-80">
      <div class="overflow-hidden rounded-lg shadow-md">
        <video src="/video3.mp4" class=" object-cover" preload="none" poster="/miniatura-video3.jpg" controls></video>
      </div>
    </div>
  </div>

  <!-- Controles -->
  <div class="swiper-button-prev !text-white"></div>
  <div class="swiper-button-next !text-white"></div>
</div>
