<section
    class="my-4 shadow-xl animate__animated lazyElement bg-sky-600 w-full flex flex-col sm:flex-row font-[Montserrat]">
    <div
        class="w-full h-60 sm:h-auto sm:w-1/2 flex items-center justify-center bg-center lg:bg-[50%_40%] bg-[url('/fondo-trabajador.png')] bg-no-repeat bg-cover overflow-hidden">
    </div>

    <div class="flex flex-col py-6 px-10 sm:py-10 sm:px-14 sm:w-1/2 text-white">
        <h2 class="font-bold text-2xl  ">ELECTRICIDAD</h2>
        <div class="h-1 w-20 bg-sky-500 my-1"></div>
        <p class=" text-sm lg:text-lg 2xl:text-xl text-pretty py-2">Residencial y comercial</p>

        <ul class="space-y-2 text-white text-sm sm:text-base lg:text-lg 2xl:text-xl ">
            <li class="flex items-center gap-1">
                <i class="bi bi-check-circle text-white text-lg pr-2"></i>
                <span>Instalación eléctrica</span>
            </li>
            <li class="flex items-center gap-1">
                <i class="bi bi-check-circle text-white text-lg pr-2"></i>
                <span>Montaje en obra</span>
            </li>
            <li class="flex items-center gap-1">
                <i class="bi bi-check-circle text-white text-lg pr-2"></i>
                <span>Alarmas</span>
            </li>
            <li class="flex items-center gap-1">
                <i class="bi bi-check-circle text-white text-lg pr-2"></i>
                <span>Equipos frigoríficos</span>
            </li>
        </ul>


    </div>
</section>